@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Configurações gerais */

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 8px;
    padding: 20px;
    transition: all .2s;
}



p.p-description {
    color: rgb(145, 145, 145);
    font-size: 1.4em;
    line-height: 1.3em;
}

h2.h2-subtitle {
    font-weight: 500;
}

img.hover {
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
    border-radius: 10px;
    transition: box-shadow .3s
}

img.hover:hover {
    box-shadow: 0px 8px 15px rgba(0,0,0,.4);
}

div.div-card {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

/* Header */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 20px;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

nav ul a {
    color: black;
    font-size: 1.5em;
}

/* Main */

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    align-items: center;
    padding: 10px;
}

/* Título */

section#sec-title {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

section#sec-title h1 {
    font-size: 4em;
}

section#sec-title p {
    font-size: 1.3em;
    color: rgb(73, 73, 73);
    line-height: 1.3em;
}

section#sec-title button {
    height: 50px;
    font-size: 1.3em;
    margin: auto;
}

/* Primeira Imagem */

section#sec-img-main{
    display: flex;
    justify-content: center;
}

section#sec-img-main img{
    width: 100%;
}

/* Primeira apresentação / 3 */

section#sec-apresentation-3 {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    align-items: center;
    width: 80%;
    margin: 25px 0px;
}

section#sec-apresentation-3 div#div-apresentation-3 {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}

section#sec-apresentation-3 div#div-apresentation-3 img {
    width: 100%;
}


/* Segunda Apresentação / 1 */

section#sec-apresentation-1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    width: 80%;
    margin: 25px 0px;
}

section#sec-apresentation-1 img {
    width: 100%;
}

section#sec-apresentation-1 div#div-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

section#sec-apresentation-1 div#div-content h1, section#sec-apresentation-1 div#div-content h2 {
    text-align: center;
}

section#sec-apresentation-1 div#div-content p {
    text-indent: 2em;
}

section#sec-apresentation-1 div#div-content div#div-subtitle-btn {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

section#sec-apresentation-1 div#div-content div#div-subtitle-btn button#btn-subtitle1 {
    height: 50px;
}

section#sec-apresentation-1 div#div-content div#div-subtitle-btn button#btn-subtitle2 {
    background-color: white;
    color: black;
    height: 50px;
    transition: all .3s;
}

section#sec-apresentation-1 div#div-content div#div-subtitle-btn button#btn-subtitle2:hover {
    background-color: black;
    color: white;
}

/* Terceira Apresentação / 2 */

section#sec-apresentation-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
    width: 80%;
}

section#sec-apresentation-2 img {
    width: 100%;
}

section#sec-apresentation-2 div#div-apresentation-2 {
    display: flex; 
    flex-flow: column nowrap;
    gap: 50px;
}

/* Feedbacks */

section#sec-feedback {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
}

section#sec-feedback h1 {
    font-size: 2.5em;
}

section#sec-feedback div#div-feedback {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

section#sec-feedback div#div-feedback div.div-card-feedback {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(71, 71, 71, 0.1);
    transition: all .5s;
}

section#sec-feedback div#div-feedback div.div-card-feedback:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}

section#sec-feedback div#div-feedback div.div-card-feedback h1{
    font-size: 1.5em;
    font-weight: 500;
}

section#sec-feedback div#div-feedback div.div-card-feedback div.div-feedback-profile {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}
section#sec-feedback div#div-feedback div.div-card-feedback div.div-feedback-profile img {
    width: 50px;
    height: 50px;
}

section#sec-feedback div#div-feedback div.div-card-feedback div.div-feedback-profile div.div-feedback-profile-name h1{
    font-size: 1.2em;
    font-weight: 400;
}
section#sec-feedback div#div-feedback div.div-card-feedback div.div-feedback-profile div.div-feedback-profile-name p {
    font-size: 0.9em;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    border: 1px solid rgb(192, 192, 192, .2);
    padding: 30px;
    gap: 50px;
    justify-content: space-between;

}

footer section#sec-footer-site {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px
}

footer section#sec-footer-site h1 {
    font-size: 1.8em;
    font-weight: 350;
}

footer section#sec-footer-site nav#nav-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

footer section#sec-footer-site nav#nav-icons img {
    width: 25px;
    transition: all .3s;
}

footer section#sec-footer-site nav#nav-icons img:hover {
    transform: translateY(-3px);
}

footer section#sec-footer-nav {
    width: 60%;
}

footer section#sec-footer-nav nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer section#sec-footer-nav nav ul {
    display: flex;
    flex-flow: column nowrap;
}

footer section#sec-footer-nav nav ul li.li-page p{
    font-size: 0.5em;
    color: rgb(92, 92, 92);
    font-weight: 600;
}

footer section#sec-footer-nav nav ul li.li-title {
    font-size: 1em;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}